
body {
    background-color: lightblue;
}

.card {
    padding: 1cm;
    padding-top: 2cm;
    width: 10cm;
    height: 10cm;
    display: flex;
    margin: auto;
    margin-top: 3.5cm;
    flex-direction: column;
    border-radius: 15px;
}

.navbar-toggler {
    background-color: burlywood;
}

#submit-btn {
    display: flex;
    margin: 0 auto;
    margin-top: 1cm;
}
